@import url('https://fonts.google.com/specimen/Raleway?sidebar.open=true&selection.family=Raleway:wght@200');

body {
	font-family: 'Raleway';
}

h1 {
	font-size: 5rem;
	color: #494848;
	margin-bottom: 5rem;
}
